@import './base.css';

.header {
    padding: 20px 0;
    background-color: #F7F7F8;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.082);
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.header a {
    font-family: var(--mainFont);
}

.logo a {
    color: var(--mainColor);
}

.navbar ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.navbar .active {
    background-color: #F1F1F3;
    padding: 10px 15px;
    border-radius: 5px;
}

.header .auth {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.auth .signup a {
    color: var(--mainColor);
}

.auth .login {
    background-color: var(--subColor);
    padding: 8.5px 15px;
    border-radius: 5px;
}

.auth .login a {
    color: #FFFFFF;
}

.header .menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .header .navbar {
        display: none;
    }

    .header .menu {
        display: block;
    }

    .header .container {
        width: calc(100% - 60px);
    }
}

.footer {
    background-color: #FFFFFF;
    padding: 70px 0px;
    position: relative;
}

.footer .container::after {
    position: absolute;
    content: '';
    width: calc(100% - 120px);
    height: 1px;
    background-color: #F1F1F3;
    margin: 50px 0;
}

.footer .end {
    display: block;
    text-align: center;
    margin: 100px 0;
    font-family: var(--mainFont);
    color: #656567;
}

.footer .footer-start {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    width: calc(20% - 120px);
}

.footer-start .footer-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.footer-start .footer-info-data {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--mainFont);
}

.footer .footer-end {
    width: calc(80% - 120px);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    font-family: var(--mainFont);
}

.footer-end .footer-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.footer-item nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.footer-item nav a {
    color: #59595A;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-social .social-media {
    display: flex;
    gap: 15px;
}

.footer-social .social-media img {
    background-color: #F1F1F3;
    padding: 10px;
    border-radius: 5px;
}

@media screen and (max-width: 1200px) {

    .footer .footer-start {
        align-self: flex-start;
    }

    .footer-end .footer-item {
        width: calc((100% - 20px)/2);
    }

    .footer-social {
        width: calc(100% - 20px);
    }

    .footer .footer-end {
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {

    .footer .container,
    .footer .container::after {
        width: calc(100% - 60px);
    }

    .footer-end .footer-item {
        width: calc((100% - 20px)/2);
    }

}

@media screen and (max-width: 576px) {

    .footer .row {
        gap: 20px;
    }

    .footer-end .footer-item {
        width: calc((100% - 20px)/2);
    }

    .footer .footer-start,
    .footer .footer-end {
        width: 100%;
    }

}